.blog-article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;

  @include breakpoint(tablet) {
    gap: 1rem;
  }

  &__date {
    @include font(1.8rem, 88.9%, 500);
    letter-spacing: -0.02em;

    @include breakpoint(tablet) {
      @include font(1rem, 160%, 500);
    }
  }

  &__title {
    @include maxSizeText(3);

    @include font(3.6rem, 116.66%, 500);
    letter-spacing: -0.02em;

    @include breakpoint(tablet) {
      @include font(2.4rem, 125%, 500);
    }
  }

  &__text {
    @include font(2rem, 150%, 400);
    letter-spacing: -0.02em;

    @include breakpoint(tablet) {
      @include font(1.4rem, 128.571%, 400);
    }

    &>p {
      @include maxSizeText(4);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
