@use 'sass:math';

.locations {

  &__title {
    @extend .text-h1;

    max-width: 25ch;
    margin-inline: auto;
    text-align: center;
  }

  &__map {
    position: relative;

    width: 100%;
    aspect-ratio: 1.8 / 1;

    transform: translate(0%, 14rem);

    @include breakpoint(tablet) {
      width: 150%;

      transform: translate(-32%, 10%);
    }
  }

  &__map-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;

    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &__pin {
    position: absolute;
    z-index: 200;

    aspect-ratio: 0.834 / 1;

    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2245%22%20height%3D%2254%22%20viewBox%3D%220%200%2045%2054%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M44.5235%2016.7847C41.4935%205.63974%2031.2785%20-1.15526%2019.3385%200.164738C8.7335%201.28974%200.213502%2010.7397%200.0185023%2021.7047C-0.176498%2026.8047%201.1585%2031.7097%204.5635%2035.4897C10.4285%2041.7297%2016.6835%2047.3847%2023.1185%2053.9997C26.1485%2050.7897%2029.1785%2047.3847%2032.2085%2044.1747C34.2935%2042.2847%2036.1835%2040.2147%2038.2685%2038.3247C41.8685%2034.7397%2044.1335%2030.3897%2044.8985%2025.2897C44.8985%2024.9147%2045.2735%2019.0497%2044.5235%2016.7847Z%22%20fill%3D%22%23ECCD75%22%2F%3E%0A%3Cpath%20d%3D%22M22.5028%2025.4443C22.5028%2025.4443%2022.4797%2025.4405%2022.4682%2025.4405H22.445C22.445%2025.4405%2022.4258%2025.4405%2022.4142%2025.4405C22.3834%2025.4405%2022.3564%2025.4405%2022.3294%2025.4405H21.316C21.316%2025.4405%2021.3006%2025.4289%2021.2968%2025.4212C21.0887%2025.0667%2020.8421%2024.3462%2020.5647%2023.2595C20.2217%2021.9302%2019.8903%2020.3426%2019.5667%2018.4892C19.27%2016.7938%2019.0735%2015.4914%2018.9771%2014.5743C18.9617%2014.4433%2019.0696%2014.3277%2019.2006%2014.3277H19.7555C19.8788%2014.3277%2019.979%2014.2275%2019.979%2014.1004V13.7767C19.979%2013.6534%2019.8788%2013.5494%2019.7555%2013.5494H14.149C14.0257%2013.5494%2013.9255%2013.6496%2013.9255%2013.7767V14.1004C13.9255%2014.2237%2014.0257%2014.3277%2014.149%2014.3277H14.9158C15.3666%2014.3277%2015.6788%2014.4318%2015.8521%2014.6398C15.9485%2014.7631%2015.9986%2014.9365%2015.9986%2015.1562C15.9986%2015.5993%2015.8868%2016.0732%2015.6672%2016.5742C15.5554%2016.8439%2015.332%2017.2639%2014.989%2017.8265C14.2184%2019.1289%2013.6365%2020.3465%2013.2474%2021.4755C12.9275%2022.3849%2012.7156%2023.275%2012.6039%2024.1458C12.5422%2024.6506%2012.4921%2024.9511%2012.4574%2025.0474C12.3958%2025.2401%2012.2995%2025.3673%2012.1762%2025.4366H11.3207C11.3207%2025.4366%2011.2822%2025.4366%2011.2668%2025.4366C11.2591%2025.4366%2011.2514%2025.4366%2011.2398%2025.4366H10.8969C10.7389%2025.4366%2010.5154%2025.5522%2010.5%2025.9221L10.6079%2026.319H10.6117C10.6464%2026.423%2010.685%2026.5348%2010.7312%2026.6504C10.8545%2026.9201%2010.9662%2027.2746%2011.0703%2027.71C11.1743%2028.1454%2011.2437%2028.5115%2011.2822%2028.8082C11.3207%2029.101%2011.3554%2029.2976%2011.394%2029.3977C11.4787%2029.6174%2011.6213%2029.7291%2011.814%2029.7291C12.0336%2029.7291%2012.207%2029.5827%2012.3264%2029.286C12.338%2029.2475%2012.4112%2028.9855%2012.5461%2028.4922C12.7541%2027.6445%2013.0701%2027.0935%2013.4901%2026.8353C13.914%2026.5772%2014.7732%2026.45%2016.0679%2026.45H17.9406C18.796%2026.45%2019.4202%2026.5541%2019.8133%2026.7621C20.4876%2027.1166%2020.8999%2027.8372%2021.0617%2028.9161C21.0848%2029.1357%2021.1388%2029.3284%2021.2159%2029.4864C21.2968%2029.6444%2021.4316%2029.7253%2021.6282%2029.7253C21.8593%2029.7253%2022.0327%2029.5596%2022.1406%2029.2282C22.1406%2029.2166%2022.2023%2028.8737%2022.3256%2028.1955C22.3872%2027.8757%2022.445%2027.6253%2022.499%2027.4403C22.5529%2027.2553%2022.6338%2027.028%2022.7379%2026.7583C22.8419%2026.4886%2022.9036%2026.3267%2022.9228%2026.2689C22.9421%2026.215%2022.9498%2026.1418%2022.9498%2026.057C22.9498%2025.899%2022.9036%2025.7526%2022.8111%2025.6254C22.7379%2025.5214%2022.6338%2025.4597%2022.5067%2025.4405L22.5028%2025.4443ZM14.2222%2024.5003C14.2222%2023.7335%2014.4496%2022.67%2014.9004%2021.3175C15.3397%2020.0036%2016.014%2018.5817%2016.6498%2017.5722C16.7538%2017.4065%2016.9966%2017.4566%2017.0351%2017.6492C17.3318%2019.098%2018.1795%2023.2403%2018.3837%2024.088L18.6149%2025.2594C18.6265%2025.3287%2018.6111%2025.3904%2018.5725%2025.4405H14.4997C14.3109%2025.2863%2014.2145%2024.9781%2014.2145%2024.5041L14.2222%2024.5003Z%22%20fill%3D%22%23303030%22%2F%3E%0A%3Cpath%20d%3D%22M30.3747%2026.2036V26.5234C30.3747%2026.6467%2030.4557%2026.7469%2030.552%2026.7469H34.9986C35.0988%2026.7469%2035.1759%2026.6467%2035.1759%2026.5234V26.2036C35.1759%2026.0803%2035.095%2025.9801%2034.9986%2025.9801H33.9852C33.9621%2025.9454%2033.9428%2025.9107%2033.9159%2025.876C33.5999%2025.4214%2033.3417%2025.0283%2033.1491%2024.6969C32.9526%2024.3617%2032.7638%2024.0188%2032.5749%2023.6681C32.3168%2023.2019%2032.074%2022.7665%2031.8505%2022.358C31.627%2021.9496%2031.2918%2021.2984%2030.8448%2020.4044L30.0973%2018.9209C30.448%2017.9808%2030.7138%2017.2024%2030.9797%2016.8325C31.2764%2016.4202%2031.6309%2016.2121%2032.0509%2016.2121C32.2243%2016.2121%2032.3977%2016.2468%2032.5711%2016.3162C32.625%2016.3393%2032.7137%2016.3662%2032.8023%2016.4009C32.9757%2016.4664%2033.1722%2016.3932%2033.2416%2016.2237C33.5074%2015.5725%2034.2241%2014.0504%2033.5652%2013.773C33.2223%2013.6266%2032.8948%2013.5649%2032.5942%2013.5649C31.916%2013.5649%2031.2764%2013.7769%2030.8371%2014.378C30.4518%2014.9059%2029.9393%2015.6573%2029.4076%2017.056C29.4076%2017.0483%2029.4037%2017.0444%2029.3999%2017.0367C29.369%2017.1253%2029.3344%2017.2101%2029.3035%2017.3064C29.3035%2017.3064%2028.3518%2015.3567%2027.8624%2014.3471H28.0782C28.1823%2014.3471%2028.2632%2014.247%2028.2632%2014.1198V13.7961C28.2632%2013.6728%2028.1784%2013.5688%2028.0782%2013.5688H23.4428C23.3387%2013.5688%2023.2578%2013.669%2023.2578%2013.7961V14.1198C23.2578%2014.2431%2023.3426%2014.3471%2023.4428%2014.3471H24.7991C24.9263%2014.3471%2025.0419%2014.4011%2025.1305%2014.4897C25.8742%2015.9154%2027.5079%2019.0096%2027.8933%2019.7417C27.6389%2020.5547%2027.0533%2021.7107%2026.4136%2022.8628C25.7624%2024.0265%2025.1652%2024.8858%2024.6257%2025.4869C24.4253%2025.7373%2024.1518%2026.0032%2024.2019%2026.3461C24.2211%2026.4694%2024.2635%2026.5735%2024.3868%2026.6544C24.5101%2026.7353%2024.7336%2026.7777%2025.0611%2026.7777C25.5081%2026.7777%2026.0244%2026.6004%2026.3982%2026.1226C26.9993%2025.3366%2027.7545%2023.9224%2028.8219%2021.5489L29.2535%2022.4467L30.2476%2024.3694C30.448%2024.7201%2030.5944%2024.9859%2030.6792%2025.1632C30.8217%2025.4406%2030.9296%2025.668%2031.0028%2025.8414C31.0259%2025.8953%2031.0491%2025.9415%2031.0722%2025.9916L30.552%2025.9839C30.4518%2025.9839%2030.3747%2026.0841%2030.3747%2026.2074V26.2036Z%22%20fill%3D%22%23303030%22%2F%3E%0A%3C%2Fsvg%3E');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.locations__pin--big {
      width: 4.5rem;

      @include breakpoint(tablet) {
        width: 1.4rem;
      }
    }

    &.locations__pin--small {
      width: 3rem;


      @include breakpoint(tablet) {
        width: 1rem;
      }
    }
  }

  &__pins {
    &:not(._animation-trigger) {
      .locations__pin {
        animation: 3s intro 1 forwards;
      }
    }
  }
}

$percent: 1%;

@for $i from 1 through 100 {
  .locations__pin:nth-of-type(#{$i}) {
    transition-delay: math.random() + s;
    animation-delay: math.random() + s;
  }
}

@keyframes intro {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
