.mission-slide {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-height: 65rem;
  overflow: hidden;

  background-color: var(--Beige, #DBC19C);
  border-radius: 3.5rem;

  @include breakpoint(tablet) {
    min-height: 20rem;
    border-radius: 1.1rem;
  }

  &.mission-slide--orange {
    background-color: var(--Orange-2, #E18A68);
  }

  &.mission-slide--with-image {
    &::before {
      position: absolute;
      inset: -1px;
      z-index: 150;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
      content: "";
    }
  }

  &:not(.mission-slide--with-image) {
    .mission-slide__image {
      display: none;
    }
  }

  &__image {
    position: absolute;
    inset: -1px;
    z-index: 100;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 100%;
      max-width: unset;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__body {
    position: relative;
    z-index: 200;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    flex-grow: 1;
    padding: 7.5rem 7.2rem 6.25rem;

    color: #FFF;

    @include breakpoint(tablet) {
      gap: 1rem;
      padding: 2.2rem;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;

    @include breakpoint(tablet) {
      gap: 1rem;
    }
  }

  &__number {
    @include font(2rem, 100%, 500);
    letter-spacing: -0.03em;

    @include breakpoint(tablet) {
      @include font(1rem, 61.5%, 500);
    }
  }

  &__title {
    @extend .text-64;

    max-width: min-content;
    line-height: 117.2%;
  }

  &__text {
    @include font(3.2rem, 125%, 500);

    max-width: 77rem;
    letter-spacing: -0.03em;

    @include breakpoint(tablet) {
      max-width: 80%;
      @include font(1.2rem, 125%, 500);
    }
  }
}
