.format-quotation {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.5rem;

  padding: 9rem 10rem;
  transform: rotate(-3deg);

  @include breakpoint(tablet) {
    gap: 1rem;

    padding: 3rem;
    padding-bottom: 4rem;
  }

  &__border {
    position: absolute;
    inset: 0;

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      aspect-ratio: 0.827 / 1;
      transform: rotate(3deg);

      background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22523%22%20height%3D%22616%22%20viewBox%3D%220%200%20523%20616%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M463.276%200.101822L33.8657%2022.6063C14.5922%2023.6164%20-0.264616%2040.1165%200.745468%2059.3901L23.2495%20582.809C24.2596%20602.083%2040.7597%20616.94%2060.0333%20615.93L434.599%20596.3L454.864%20611.9L473.386%20594.267L489.444%20593.425C508.718%20592.415%20523.574%20575.915%20522.564%20556.641L500.06%2033.2221C499.05%2013.9485%20482.55%20-0.908262%20463.276%200.101822ZM520.567%20556.746C521.52%20574.921%20507.514%20590.475%20489.339%20591.428L472.542%20592.308L470.32%20594.427L454.726%20609.274L437.665%20596.139L435.234%20594.264L59.9286%20613.932C41.7536%20614.885%2026.1993%20600.88%2025.2468%20582.705L2.74273%2059.2854C1.79021%2041.1103%2015.7953%2025.5561%2033.9704%2024.6035L463.381%202.09908C481.556%201.14657%20497.11%2015.1517%20498.063%2033.3268L520.567%20556.746Z%22%20fill%3D%22%23ECCD74%22%2F%3E%0A%3C%2Fsvg%3E');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      pointer-events: none
    }
  }

  &__title {
    @include font(4rem, 125%, 500);

    max-width: 15ch;

    letter-spacing: -0.02em;

    @include breakpoint(tablet) {
      width: 24rem;
      @include font(2.4rem, 125%, 500);
    }
  }

  &__text {
    @include font(2.4rem, 141.6%, 500);

    position: relative;
    letter-spacing: -0.03em;

    @include breakpoint(tablet) {
      width: 24rem;
      @include font(1.6rem, 125%, 500);
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 3rem;
      height: 2.3rem;
      transform: translate(50%, 50%);

      background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2231%22%20height%3D%2224%22%20viewBox%3D%220%200%2031%2024%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M27.2699%201.71646C29.0302%203.46005%2030.1335%205.40498%2030.308%208.73374C30.6133%2014.5591%2026.7227%2019.9367%2021.0369%2022.905L19.4256%2020.8198C24.761%2017.5361%2025.7255%2013.647%2025.9275%2011.1329C25.1215%2011.6759%2023.9652%2011.9034%2022.7914%2011.798C19.778%2011.6221%2017.3258%209.41411%2017.1601%206.25178C17.0816%204.75384%2017.6688%203.221%2018.6064%202.0036C19.7104%200.77747%2021.0157%200.208374%2022.6801%200.121147C24.5109%200.0251979%2026.2189%200.770163%2027.2699%201.71646ZM10.6261%202.58872C12.3864%204.33232%2013.4897%206.27724%2013.6641%209.60601C13.9694%2015.4313%2010.0789%2020.809%204.39311%2023.7773L2.78177%2021.6921C8.11722%2018.4084%209.08167%2014.5192%209.28371%2012.0052C8.47768%2012.5481%207.32134%2012.7756%206.14755%2012.6703C3.13421%2012.4944%200.673238%2010.1199%200.516231%207.12405C0.437727%205.6261%201.02498%204.09327%201.96255%202.87586C3.06656%201.64974%204.37189%201.08064%206.03628%200.993413C7.8671%200.897464%209.57509%201.64243%2010.6261%202.58872Z%22%20fill%3D%22%23ECCD75%22%2F%3E%0A%3C%2Fsvg%3E');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      pointer-events: none;

      @include breakpoint(tablet) {
        width: 1.7rem;
        height: 1.3rem;
      }
    }

    &.main-about__quotation {
      &::after {
        content: none;
      }
    }
  }
}
