.franchise-formats {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__grid {
        display: flex;
        align-items: stretch;
        gap: 28rem;

        &:has(.franchise-formats__double-btns) {
          margin-top: 2.5rem;
        }

        &:has(.franchise-formats__right--shorts) {
          gap: 10rem;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 5rem;

        flex: 0 0 58rem;

        &.franchise-formats__left--bigger {
            flex: 0 0 62rem;
            justify-content: space-between;
        }

        &.franchise-formats__left--smaller {
            flex: 0 0 54rem;
        }

        &:has(.franchise-formats__jump) {
          flex: 0 0 66rem;
        }
    }

    &__text {
        letter-spacing: -0.03em;

        @include font(3rem, 133.3%, 500);
    }

    &__link {
      &.franchise-formats__link--mta {
        margin-top: auto;
      }
    }

    &__right {
        flex: 0 1 100%;
    }

    &__swiper {
        &.swiper {
            margin-right: -100%;
            padding-right: 100%;
        }
    }

    &__swiper-slide {
      &.franchise-short {
        max-width: 38rem;
      }
    }

    &__controls {
        display: flex;
        justify-content: center;
        margin-top: 5rem;

        &.franchise-formats__controls--left {
            justify-content: unset;
            margin-left: 11.6rem;
        }
    }

    &__swiper-control {
        margin-inline: 23rem -23rem;
    }

    &__double-btns {
      margin-top: 2.5rem;
        margin-left: 11.6rem;
    }

    &__approach {
        max-width: 54rem;
        aspect-ratio: 1.25 / 1;
    }

    &__quotation {
      & + .franchise-formats__link {
        width: 100%;
      }
    }
}
