.franchise-schedule {
  padding: 1.5rem 3rem;

  @include breakpoint(tablet) {
    padding: 0;
  }

  &__body {
    position: relative;

    overflow: hidden;
    padding: 6.5rem 8.5rem 52.5rem;

    background: linear-gradient(180deg, rgba(245, 245, 247, 0.00) 45.18%, #F5F5F7 100%);
    background-color: #F5F5F7;
    border-radius: 3.5rem;

    @include breakpoint(tablet) {
      padding: 3rem 0 24.8rem;
      overflow: auto;
    }
  }

  &__heading {
    position: relative;
    z-index: 200;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;

    @include breakpoint(tablet) {
      position: sticky;
      left: 2rem;

      flex-direction: column;
      align-items: center;

      max-width: calc(100% - 4rem);
      margin-inline: auto;
    }
  }

  &__title {
    @include breakpoint(tablet) {
      text-align: center;
    }
  }

  &__image {
    position: absolute;
    left: 8rem;
    right: 8rem;
    bottom: 0;
    z-index: 100;

    &::before {
      position: absolute;
      inset: 0;

      background: linear-gradient(180deg, rgba(245, 245, 247, 0.00) 45.18%, #F5F5F7 100%);
      content: "";
    }

    @include breakpoint(tablet) {
      right: unset;
      left: 2rem;
      bottom: 0;

      height: 21rem;
      aspect-ratio: 3.7 / 1;
    }

    img {
      display: block;
      width: 100%;

      object-fit: cover;
      object-position: center;
    }
  }
}
