.intro {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 100vh;
  height: 100dvh;
  padding: 1.5rem;

  @include breakpoint(tablet) {
    height: auto;
  }

  &__body {
    position: relative;

    flex-grow: 1;
    overflow: hidden;

    background-color: var(--color-bg, #EFF2F6);
    border-radius: 3.5rem;

    @include breakpoint(tablet) {
      border-radius: 2rem;
    }
  }

  &__site-container {
    display: grid;
    grid-template-areas: "in_info in_list";
    grid-template-columns: 103.6rem 1fr;
    place-items: end stretch;

    height: 100%;

    @include breakpoint(tablet) {
      grid-template-areas:
        "in_info"
        "in_list";
      grid-template-columns: 100%;
      place-items: stretch stretch;
      gap: 4.8rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    grid-area: in_info;
    padding-bottom: 5.8rem;

    @include breakpoint(tablet) {
      align-items: center;
      gap: 2rem;

      padding-top: 11rem;
      padding-bottom: 0;
    }
  }

  &__tooltip {
    min-width: 20rem;
    transform: rotate(-3deg);
    padding: 2.4rem 2.5rem;

    background-color: #ECCD75;
    border-radius: 50rem;

    color: #57453A;
    letter-spacing: -0.02em;
    text-align: center;
    white-space: nowrap;

    @include font(2.4rem, 100%, 500);

    @include breakpoint(tablet) {
      min-width: 10rem;
      transform: rotate(-3deg);
      padding: 1rem 1.8rem;


      border-radius: 2.4rem;

      @include font(1.2rem, 133.3%, 500);
    }
  }

  &__title {
    @extend .text-h1;

    @include breakpoint(tablet) {
      text-align: center;
    }
  }

  &__list {
    grid-area: in_list;
    align-self: stretch;
    position: relative;

    &>.intro-list {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @include breakpoint(tablet) {
        position: static;
        transform: translate(0, 0);
      }
    }
  }
}
