.double-btns {
    display: flex;
    align-items: stretch;
    gap: 0.6rem;

    width: max-content;
    padding: 0.8rem;

    background: #EAEAEF;
    border-radius: 2rem;

    &__btn {
        display: grid;
        place-items: center;
        place-content: center;

        flex-shrink: 0;
        width: 6rem;
        height: 6rem;

        border-radius: 1.5rem;
        background: #FFF;

        .icon {
            width: 1.6rem;
            height: 1.7rem;

            stroke: var(--Grafiit-main, #303030);
        }

        &.double-btns__btn--next {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}
