.input-holder {
  position: relative;

  height: 8.5rem;

  @include breakpoint(tablet) {
    height: 5rem;
  }

  &>input {
    width: 100%;
    height: 100%;
    padding: 3rem 4rem;

    color: var(--Grafiit-main, #303030);

    background: #FFF;
    border-radius: 2.5rem;
    border: 1px solid #EEE;

    letter-spacing: -0.02em;
    @include font(2rem, 125%, 400);

    @include breakpoint(tablet) {
      padding: 1.6rem 2.4rem;

      border-radius: 1rem;

      @include font(1.4rem, 125%, 400);
    }

    &:valid {
      &~.input-holder__label {
        opacity: 1;
      }
    }
  }

  &>textarea {
    width: 100%;
    height: 100%;
    padding: 3rem 4rem;

    color: var(--Grafiit-main, #303030);

    background: #FFF;
    border-radius: 2.5rem;
    border: 1px solid #EEE;

    letter-spacing: -0.02em;
    @include font(2rem, 125%, 400);

    @include breakpoint(tablet) {
      padding: 1.6rem 2.4rem;

      border-radius: 1rem;

      @include font(1.4rem, 125%, 400);
    }
  }

  &>input {
    @include placeholder {
      color: #909090;
    }
  }

  &>textarea {
    @include placeholder {
      color: #909090;
    }
  }

  &__error {
    position: absolute;
    display: none;
  }

  &__label {
    position: absolute;
    top: 1.2rem;
    left: 4rem;

    color: var(--Grafiit-main, #303030);
    letter-spacing: -0.02em;
    @include font(1.4rem, 120%, 500);

    opacity: 0;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    @include breakpoint(laptop) {
      top: 0.6rem;
      left: var(--gap-xxl, 2.4rem);
    }
  }


  &.input-holder--white {

    &>textarea,
    &>input {
      background: var(--Gray-10, #FFF);
    }
  }
}
