.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: max-content;
  max-height: 9rem;
  padding: 3rem 7.2rem;

  color: var(--White, #fff);
  letter-spacing: -0.04em;
  text-align: center;
  white-space: nowrap;

  background-color: var(--Grafiit-main, #303030);
  border: 1px solid transparent;
  border-radius: 2.5rem;

  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: color, background, border;

  cursor: pointer;

  @include font(2.4rem, 100%, 500);

  @include breakpoint(tablet) {
    min-width: 27rem;
    padding: 1.6rem 2.4rem;

    border-radius: 1.7rem;

    @include font(1.5rem, 160%, 500);
  }

  .icon {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: fill, stroke;
  }

  .icon-event {
    width: 2rem;
    height: 2.1rem;
    fill: var(--Grafiit-main, #303030);
  }

  .icon-tg {
    width: 3rem;
    height: 2.4rem;
    fill: #57AADE;
  }

  .icon-tg-small {
    width: 2rem;
    height: 1.6rem;
    fill: #57AADE;
  }

  .icon-yt {
    width: 3.7rem;
    height: 2.5rem;
    fill: #DE5757;
  }

  .icon-vk-big {
    width: 4.5rem;
    height: 2.5rem;
    fill: #4888F7;

    @include breakpoint(tablet) {
      width: 2.4rem;
      height: 1.3rem;
    }
  }

  .icon-vk-small {
    width: 2.5rem;
    height: 1.4rem;
    fill: var(--White, #fff);
  }

  .icon-calc {
    width: 1.8rem;
    height: 2.2rem;

    fill: var(--White, #fff);
  }

  .icon-link {
    width: 1rem;
    height: 1rem;

    stroke: var(--White, #fff);
  }

  .icon-partner {
    width: 4rem;
    height: 4rem;

    fill: var(--White, #fff);
  }

  .icon-pencil {
    width: 1.7rem;
    height: 1.6rem;
    fill: var(--Grafiit-main, #303030);
  }

  .icon-vac {
    width: 2rem;
    height: 2.1rem;
    fill: var(--Grafiit-main, #303030);
  }

  .icon-chat,
  .icon-online {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--Grafiit-main, #303030);
  }

  &.link-icon--grey {
    background-color: #EAEAEF;

    color: var(--Grafiit-main, #303030);

    .icon-link {
      stroke: var(--Grafiit-main, #303030);
    }
  }

  &.link-icon--dark-blue {
    background-color: var(--Blue, #4888F7);
    border: 1px solid transparent;

    color: #FFF;

    .icon-vk-big {
      fill: #FFF;
    }
  }

  &.link-icon--dark-red {
    background-color: transparent;
    border: 1px solid var(--Grafiit-main, #303030);

    color: #606060;
  }

  &.link-icon--light-blue {
    background-color: transparent;
    border: 1px solid var(--Grafiit-main, #303030);

    color: #606060;
  }

  &.link-icon--white {
    background-color: #FFF;

    color: var(--Grafiit-main, #303030);

    .icon-link {

      stroke: var(--Grafiit-main, #303030);

      &:not(.icon-no-rotate) {
        transform: rotate(225deg);
      }
    }
  }

  &.link-icon--outlined {
    background-color: transparent;
    border: 1px solid var(--Grafiit-main, #303030);

    color: var(--Grafiit-main, #303030);

    .icon-link {
      transform: translateY(10%);
      stroke: var(--Grafiit-main, #303030);
    }
  }
}

.link-icon {
  &:not(.link-icon--grey, .link-icon--white, .link-icon--dark-blue) {
    @include hoverActive() {
      color: var(--Grafiit-main, #303030);

      background-color: transparent;
      border-color: var(--Grafiit-main, #303030);

      .icon-link {
        stroke: var(--Grafiit-main, #303030);
      }

      .icon-calc {
        fill: var(--Grafiit-main, #303030);
      }
    }
  }

  &.link-icon--grey {
    @include hoverActive() {
      background-color: var(--Grafiit-main, #303030);

      color: var(--White, #fff);

      .icon-link {
        stroke: var(--White, #fff);
      }

      .icon-online {
        fill: var(--White, #fff);
      }
    }
  }

  &.link-icon--outlined {
    @include hoverActive() {
      background-color: var(--Grafiit-main, #303030);
      border-color: transparent;

      color: var(--White, #fff);

      .icon-link {
        stroke: var(--White, #fff);
      }
    }
  }


  &.link-icon--white {
    @include hoverActive() {
      background-color: var(--Grafiit-main, #303030);
      border-color: transparent;

      color: var(--White, #fff);

      .icon-link {
        stroke: var(--White, #fff);
      }

      .icon-event {
        fill: var(--White, #fff);
      }
    }
  }

  &.link-icon--dark-blue {

    @include hoverActive() {
      background-color: #4075D0;
      border: 1px solid transparent;

      color: #FFF;

      .icon-vk-big {
        fill: #FFF;
      }
    }
  }
}
