.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    width: max-content;
    padding: 3.3rem 7.2rem;

    color: var(--White, #fff);
    letter-spacing: -0.04em;
    white-space: nowrap;

    background: var(--Grafiit-main, #303030);
    border-radius: 2.5rem;

    @include font(2.4rem, 100%, 500);

    .icon {}

    .icon-event {
        width: 2rem;
        height: 2.1rem;
        fill: var(--Grafiit-main, #303030);
    }

    .icon-tg {
        width: 2rem;
        height: 1.7rem;
        fill: var(--White, #fff);
    }


    .icon-yt {
        width: 3.1rem;
        height: 2.1rem;
        fill: var(--White, #fff);
    }

    .icon-vk-big {
        width: 3.6rem;
        height: 2.1rem;
        fill: var(--White, #fff);
    }

    .icon-vk-small {
        width: 2.5rem;
        height: 1.4rem;
        fill: var(--White, #fff);
    }

    .icon-calc {
        width: 1.8rem;
        height: 2.2rem;

        fill: var(--White, #fff);
    }

    .icon-link {
        width: 1rem;
        height: 1rem;

        stroke: var(--White, #fff);
    }

    .icon-pencil {
        width: 1.7rem;
        height: 1.6rem;
        fill: var(--Grafiit-main, #303030);
    }

    .icon-online {
        width: 2.2rem;
        height: 2.2rem;
        fill: var(--Grafiit-main, #303030);
    }

    &.link-icon--grey {
        background-color: #EAEAEF;

        color: var(--Grafiit-main, #303030);
    }

    &.link-icon--dark-blue {
        background-color: #4888F7;

        color: var(--White, #fff);
    }

    &.link-icon--dark-red {
        background-color: #DE5757;

        color: var(--White, #fff);
    }

    &.link-icon--light-blue {
        background-color: #57AADE;

        color: var(--White, #fff);
    }

    &.link-icon--white {
        background-color: #FFF;

        color: var(--Grafiit-main, #303030);

        .icon-link {
            transform: rotate(225deg);

            stroke: var(--Grafiit-main, #303030);
        }
    }

    &.link-icon--outlined {
        background-color: transparent;
        border: 1px solid var(--Grafiit-main, #303030);

        color: var(--Grafiit-main, #303030);

        .icon-link {
            transform: translateY(10%);
            stroke: var(--Grafiit-main, #303030);
        }
    }
}
