.contact-item {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  overflow: hidden;
  aspect-ratio: 1.23 / 1;

  background-color: lightgray;
  border-radius: 3.5rem;

  @include breakpoint(tablet) {
    border-radius: 2rem;
  }

  &__image {
    position: absolute;
    inset: -1px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);

      object-fit: cover;
      object-position: center;
    }
  }

  &__tooltip {
    position: relative;
    z-index: 100;

    display: grid;
    place-items: center;
    place-content: center;

    max-width: min-content;
    height: 3.5rem;
    margin-bottom: 4rem;
    padding: 1.6rem 1.8rem;
    transform: rotate(-3deg);

    background: #FFF;
    border-radius: 2.4rem;

    color: var(--Grafiit-main, #303030);
    letter-spacing: -0.02em;
    text-align: center;
    white-space: nowrap;

    @include font(1.8rem, 88.9%, 500);

    @include breakpoint(tablet) {
      height: 2rem;
      margin-bottom: 1.2rem;
      padding: 0.6rem;

      @include font(1rem, 50.9%, 500);
    }
  }
}
