extends layout/default.pug

block variables
  - const bodyClass = "page-home page-main"
  - const pageTitle = "Контакты"
  - const siteLang = "ru"
  - const haveMapSection = true

block content
  include pages/contacts/main.pug
