extends layout/default.pug

block variables
  - const bodyClass = "page-secondary page-promo"
  - const pageTitle = "Oбразование"
  - const siteLang = "ru"

block content
  include pages/education/main.pug
