extends layout/default.pug

block variables
  - const bodyClass = "page-franchise"
  - const pageTitle = "Франшиза"
  - const siteLang = "ru"
  - let logoTooltip = "Φраншиза"

block content
  include pages/franchise/main.pug
