extends layout/default.pug

block variables
  - const bodyClass = "no-touch page-home page-main"
  - const pageTitle = "Главная"
  - const siteLang = "ru"

block content
  include pages/index/main.pug
