extends layout/default.pug

block variables
  - const bodyClass = "no-touch page-home page-main"
  - const pageTitle = "Производство"
  - const siteLang = "ru"

block content
  include pages/production/main.pug
