.store-widget {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.5rem;

    padding-top: 8.5rem;

    border-radius: 3.5rem;
    background-color: #F5F5F7;

    @include breakpoint(tablet) {
      gap: 2.5rem;

      padding: 2.7rem 1.4rem 0;

      border-radius: 2rem;
    }
  }

  &__title {
    @extend .text-h1;

    text-align: center;
  }

  &__inner {
    position: relative;

    width: 100%;
    max-width: 155rem;
    aspect-ratio: 2.5 / 1;
  }

  &__pic-holder {
    position: absolute;
    inset: 0;
    z-index: 100;

    img {
      display: block;
      width: 100%;

      object-fit: cover;
      object-position: center;
    }
  }

  &__popup-inner {
    position: relative;

    display: flex;
    align-items: flex-end;
    gap: 2.5rem;

  }

  &__plus {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 3;

    display: grid;
    place-content: center;
    place-items: center;

    flex-shrink: 0;
    width: 4.5rem;
    height: 4.5rem;

    background-color: var(--Grafiit-main, #303030);
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.15);
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.05));

    transition: all 0.3s;

    .icon {
      width: 1.1rem;
      height: 1.1rem;

      fill: var(--White, #fff);

      transition: fill 0.3s;
    }

    &:hover {
      background-color: var(--White, #fff);
      border-color: rgba(0, 0, 0, 0.05);

      .icon {
        fill: var(--Grafiit-main, #303030);
      }

      &+.store-widget__image-wrapper {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &__image-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    min-height: 22rem;
    padding: 1.5rem 2.5rem 1.5rem 8.5rem;
    overflow: hidden;

    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 2.5rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 0.3s;
    transition-property: opacity, visibility;

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
      content: "";
    }
  }

  &__image {
    position: absolute;
    inset: -1px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 100%;
      max-width: unset;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    @include font(1.8rem, 130%, 500);

    position: relative;
    z-index: 2;

    width: 22.5rem;

    color: var(--White, #fff);
    letter-spacing: -0.022em;
  }

  &__popup-item {
    position: absolute;
    z-index: 200;

    width: 1px;
    height: 1px;

    @include breakpoint(tablet) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &.store-widget__popup-item--reverse {
      .store-widget__plus {
        left: unset;
        right: 1.5rem;
      }

      .store-widget__image-wrapper {
        left: unset;
        right: 0;

        padding: 1.5rem 8.5rem 1.5rem 2.5rem;
      }
    }
  }
}
