section.section.franchise-standarts
  .franchise-standarts__site-container.js-transform-swiper
    .franchise-standarts__heading.elements-section__heading.section__heading
      h2.events-section__title.section__title
        | Связаться напрямую

    .franchise-standarts__direct-list-wrapper.js-swiper
      .franchise-standarts__direct-list.direct-list.js-swiper-wrapper
        .direct-list__item.js-swiper-slide
          .direct-list__photo
            +picture('direct/photo.jpg')
          .direct-list__item-name Сергей Кирпиченков
          .direct-list__item-role CEO УК Дом Хлеба
          .direct-list__item-links
            a.direct-list__item-link(href="#")
              +icon-multi('vk-black')
            a.direct-list__item-link(href="#")
              +icon-multi('phone-black')
        .direct-list__item.js-swiper-slide
          .direct-list__photo
            +picture('direct/photo-1.jpg')
          .direct-list__item-name Сергей Кирпиченков
          .direct-list__item-role CEO УК Дом Хлеба
          .direct-list__item-links
            a.direct-list__item-link(href="#")
              +icon-multi('vk-black')
            a.direct-list__item-link(href="#")
              +icon-multi('phone-black')
        .direct-list__item.js-swiper-slide
          .direct-list__photo
            +picture('direct/photo.jpg')
          .direct-list__item-name Сергей Кирпиченков
          .direct-list__item-role CEO УК Дом Хлеба
          .direct-list__item-links
            a.direct-list__item-link(href="#")
              +icon-multi('vk-black')
            a.direct-list__item-link(href="#")
              +icon-multi('phone-black')

      .elements-section__bottom
        .elements-section__swiper-controls
          .double-btns
            button.double-btns__btn.double-btns__btn--prev(type="button")
              +icon-multi('prev')
            button.double-btns__btn.double-btns__btn--next(type="button")
              +icon-multi('prev')
