script.
  var locationCenter = [56.861097, 53.205040],
    locationZoom = 12,
    mainCoords = [56.861097, 53.205040];

  var blackLocations = [
    {
      coords: [56.861097, 53.205040],
      address: 'asdad',
      title: `asdasda`
    },
  ];
