-
  const heroStats = [
    '10 лет на рынке',
    '450 пекарен по всей РФ',
    '50% партнеров с нами с самого начала',
    '700 ТКК',
    '400 франчайзинговых точек в РФ',
    '100 партнеров',
    '10 лет на рынке',
    '450 пекарен по всей РФ',
    '50% партнеров с нами с самого начала',
    '700 ТКК',
    '400 франчайзинговых точек в РФ',
    '100 партнеров',
    '10 лет на рынке',
    '450 пекарен по всей РФ',
    '50% партнеров с нами с самого начала',
    '700 ТКК',
    '400 франчайзинговых точек в РФ',
    '100 партнеров',
  ]

section.hero
  .hero__slider-wrapper
    .hero__swiper.swiper.js-big-swiper(data-fade="true")
      ul.hero__swipper-wrapper.swiper-wrapper
        li.hero__swiper-slide.swiper-slide.hero-slide
          .hero-slide__image
            video.lazy(data-poster='./assets/images/hero/img.png')
              source(type='video/mp4' srcset="assets/images/hero/video.mp4")
          .hero-slide__body
            .hero-slide__article
              h1.hero-slide__title Открой&nbsp;свой Дом&nbsp;Хлеба
              p.hero-slide__text Быстрый старт от 30 дней. Подходит для первого бизнеса.
              a.hero-slide__link.link-icon.link-icon--white(href="#" data-path="modal-partner")
                | Стать партнером
                +icon-multi('link')(class="icon-no-rotate")
        li.hero__swiper-slide.swiper-slide.hero-slide
          .hero-slide__image
            picture
              source(type="image/webp" srcset="./assets/images/hero/production.webp" alt='')
              img(src="./assets/images/hero/production.png" alt='')
          .hero-slide__body
            .hero-slide__article
              h1.hero-slide__title Заголовок в одну строку
              p.hero-slide__text Быстрый старт от 30 дней. Подходит для первого бизнеса.
              a.hero-slide__link.link-icon.link-icon--white(href="#" data-path="modal-partner")
                | Стать партнером
                +icon-multi('link')(class="icon-no-rotate")

      .hero__swiper-control
        .double-btns
          button.double-btns__btn.double-btns__btn--prev(type="button")
            +icon-multi('prev')
          button.double-btns__btn.double-btns__btn--next(type="button")
            +icon-multi('prev')

  .hero__stats-line.hero__site-container.hero-stats
    .hero-stats__wrapper
      ul.hero-stats__list
        each item in heroStats
          li.hero-stats__item=item
