main.page-main.main
  include hero.pug
  include main-about.pug
  include simple-section.pug
  include novelty-carousel.pug
  include franchise-standarts.pug
  include bakeries-chain.pug
  include simple-team.pug

  include ../franchise/acco-section.pug
  include ../franchise/franchise-form.pug
  include ../franchise/socials-section.pug
