-
  const shorts = [
    {
      id: "franchise-short-001",
    },
    {
      id: "franchise-short-002",
    },
    {
      id: "franchise-short-003",
    },
    {
      id: "franchise-short-004",
    },
  ]

section.section.franchise-formats
  .franchise-formats__site-container
    .franchise-formats__body.js-shorts-swiper
      .events-section__heading.section__heading
        h2.events-section__title.section__title Что говорят о нас партнеры

      .franchise-formats__grid
        .franchise-formats__left.franchise-formats__left--bigger.main-about__info
          h2.main-about__title.format-quotation__title
            | Дом Хлеба - самый
            br
            | устойчивый бизнес
            br
            | в сфере общепита.

          .main-about__desc.format-quotation__desc
            .format-quotation__text.main-about__quotation
              | С 2017 года развиваем собственную и франчайзинговую сеть
              | с помощью С 2017 года развиваем собственную и франчайзинговую
              | сеть с помощью  2017 года развиваем собственную и франчайзинговую сеть с помощью

          a.franchise-formats__link.franchise-formats__link--mobile.link-icon.hide-on-mobile(href="#" data-path="modal-demo")
            | Получить демо-день
            +icon-multi('calc')

        .franchise-formats__right.franchise-formats__right--shorts
          .franchise-formats__swiper.swiper
            ul.franchise-formats__swiper-wrapper.swiper-wrapper
              each short in shorts
                li.franchise-formats__swiper-slide.swiper-slide.franchise-short(id=short.id)
                  .franchise-short__body
                    .franchise-short__simple-video
                      video(controls mute src="./assets/images/video.mp4" type="video/mp4")

                    button.franchise-short__button.franchise-short__button--active(type="button" data-play-video)
                      +icon-multi('play-big')

      .franchise-formats__grid.franchise-formats__grid--no-gap
        .franchise-formats__left
        .franchise-formats__right.franchise-formats__right--shorts
          .franchise-formats__controls.franchise-formats__controls--left
            .double-btns
              button.double-btns__btn.double-btns__btn--prev(type="button")
                +icon-multi('prev')
              button.double-btns__btn.double-btns__btn--next(type="button")
                +icon-multi('prev')

      a.franchise-formats__link.franchise-formats__link--mobile.link-icon.show-on-mobile(href="#" data-path="modal-partner")
        | Получить демо-день
        +icon-multi('calc')
