section.section.simple-section
  .simple-section__site-container
    a.simple-section__video-link.video-link.video-link--no-video(href="#")
      .video-link__image
        +picture('team.jpg')

      .video-link__body.video-link__body--row
        p.video-link__text Команда

        .video-link__button.link-icon.link-icon--white
          | Узнать о вакансиях
          +icon-multi('vac')(class="icon-no-rotate")
