[class*="__site-container"] {
  width: 100%;
  max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
  margin: 0 auto;
  padding-inline: var(--content-padding);

  @supports (width: max(20vw, 100px)) {
    padding-left: max(env(safe-area-inset-left, 1.4rem),
        var(--content-padding));
    padding-right: max(env(safe-area-inset-right, 1.4rem),
        var(--content-padding));
  }
}


html {
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 0;

  @include breakpointMF(laptop) {
    font-size: clamp(4px, 0.5vw, 20px);
  }

  @include aspectRatio(widthDesktop) {
    font-size: clamp(4.2px, 0.52vw, 10px);
  }

  @include breakpoint(supersmall-mobile) {
    font-size: 8px;
  }

  @include noHighlight();
}

body {
  color: var(--Text, #1A1B1C);
  background: var(--White, #FFF);
  font: var(--font-body);

  &.mobile-menu-open {
    @extend .no-scroll;
  }
}

.section {
  &:not(:first-child) {
    margin-top: 12rem;

    @include breakpoint(tablet) {
      margin-top: 5rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
      gap: 1.5rem;
      margin-bottom: 2.5rem;
    }

    &.section__heading--mbM {
      margin-bottom: 7.5rem;

      @include breakpoint(tablet) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__title {
    @extend .text-h1;

    &.section__title--tac {
      text-align: center;
    }
  }

  &__subtitle {
    @extend .text-30;
  }
}


.page-promo {
  .section--promo-offset {
    padding-top: calc(var(--promo-height) + 3rem);
  }
}
