.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 900;

  width: 100%;

  @include breakpoint(tablet) {
    padding-inline: 0.5rem;
    padding-block: 1rem;
  }

  &__site-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 5.8rem;

    @include breakpoint(tablet) {
      flex-wrap: wrap;
      padding-top: 2rem;
    }
  }

  &__logo {
    margin-right: 25rem;

    @include breakpoint(tablet) {
      margin-right: 2.5rem;
    }
  }

  &__menu {
    margin-right: auto;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__mobile-buttons {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__promo {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;

    width: calc(100% - (2 * 1.5rem));
    margin-inline: auto;
    margin-block: 1.5rem;
    padding: 2.6rem;

    background-color: #A10D29;
    background-image: url('./../../assets/images/header-promo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include breakpoint(tablet) {
      gap: 1rem;

      width: calc(100% - (2 * 0.5rem));

      margin-inline: auto;
      margin-block: 1.1rem;
      padding: 1.6rem;

      background-image: url('./../../assets/images/header-promo-m.png');
    }
  }

  &__promo-text {
    @include font(3.2rem, 150%, 500);

    color: #FFF;
    letter-spacing: -0.024em;

    @include breakpoint(tablet) {
      @include font(1.2rem, 150%, 500);
    }
  }

  &__promo-divider {
    width: 0.5rem;
    height: 0.5rem;

    background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%225%22%20height%3D%226%22%20viewBox%3D%220%200%205%206%22%20fill%3D%22none%22%3E%0A%20%20%3Ccircle%20cx%3D%222.5%22%20cy%3D%223%22%20r%3D%222.5%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(tablet) {
      width: 3px;
      height: 3px;
    }
  }

  &__burger {
    .icon-burger-close {
      display: none;
    }
  }

  &__mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    flex-grow: 1;
    flex-basis: 100%;
    margin-block: 5rem 4.4rem;
  }

  &__mobile-link {
    padding-block: 4px;

    letter-spacing: -0.02em;
    @include font(2.4rem, 100%, 500);
  }
}

.page-main {
  .page-header {
    color: var(--White, #fff);
  }

  .page-header__logo {
    .icon {
      fill: var(--White, #fff);
    }
  }
}

.page-promo {
  .page-header__promo {
    display: flex;
  }
}

.mobile-menu-open {
  .page-header {
    color: var(--White, #fff);
  }

  .page-header__logo {
    .icon {
      fill: var(--White, #fff);
    }
  }

  .page-header__site-container {
    @include breakpoint(tablet) {
      background-color: var(--Grafiit-main, #303030);
      border-radius: 2rem;
    }
  }

  .page-header__burger {
    background: #DE7D57;

    .icon-burger {
      display: none;
    }

    .icon-burger-close {
      display: block;
    }
  }

  .page-header__mobile-menu {
    display: flex;
  }
}
