.visually-hidden {
  @include visuallyHidden();
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

[class].display-none {
  display: none !important;
}

.no-scroll {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.hide-on-mobile {
  @include breakpoint(tablet) {
    display: none !important;
  }
}

.show-on-mobile {
  @include breakpointMF(laptop) {
    display: none !important;
  }
}

._border-12 {
  border-radius: 0.4rem;

  @include breakpointMF(tablet) {
    border-radius: 1.2rem;
  }
}

._border-16 {
  border-radius: 1.6rem;

  @include breakpointMF(tablet) {
    border-radius: 1.6rem;
  }
}

._border-20 {
  border-radius: 1.2rem;

  @include breakpointMF(tablet) {
    border-radius: 2rem;
  }
}

._border-24 {
  border-radius: 1.2rem;

  @include breakpointMF(tablet) {
    border-radius: 2.4rem;
  }
}

.opacity-06 {
  opacity: 0.6;
}

._header-padding-top {
  padding-top: calc(var(--header-height));
}

._beige-border {
  background-color: #F8E8CE;
  border-radius: 3.5rem;

  @include breakpoint(tablet) {
    border-radius: 1.8rem;
  }
}


.text-20 {
  @include font(1.4rem, 120%, 500);
  letter-spacing: -0.02em;

  @include breakpointMF(tablet) {
    @include font(2rem, 150%, 500);
    letter-spacing: -0.02em;
  }
}

.text-24 {
  @include font(1.8rem, 120%, 500);

  @include breakpointMF(tablet) {
    @include font(2.4rem, 166.7%, 500);
    letter-spacing: -0.02em;
  }
}

.text-30 {
  @include font(1.6rem, 125%, 500);
  letter-spacing: -0.03em;

  @include breakpointMF(tablet) {
    @include font(3rem, 120%, 500);
    letter-spacing: -0.02em;
  }
}

.text-32 {
  @include font(1.6rem, 120%, 400);

  @include breakpointMF(tablet) {
    @include font(3.2rem, 133.25%, 500);
    letter-spacing: -0.02em;
  }
}

.text-36 {
  @include font(1.6rem, 120%, 400);

  @include breakpointMF(tablet) {
    @include font(3.6rem, 111.1%, 700);
    letter-spacing: -0.02em;
  }
}

.text-48 {
  @include font(2.4rem, 113.2%, 500);
  letter-spacing: -0.02em;

  @include breakpointMF(tablet) {
    @include font(4.8rem, 100%, 500);
  }
}

.text-50 {
  @include font(3.6rem, 110%, 500);
  letter-spacing: -0.02em;

  @include breakpointMF(tablet) {
    @include font(5rem, 120%, 500);
  }
}

.text-64 {
  @include font(2rem, 107.6%, 500);
  letter-spacing: -0.03em;

  @include breakpointMF(tablet) {
    @include font(6.4rem, 110%, 500);
  }
}

.text-75 {
  @include font(3rem, 100%, 500);
  letter-spacing: -0.03em;

  @include breakpointMF(laptop) {
    @include font(7.5rem, 106%, 500);
  }
}

.text-h2 {
  @include font(3rem, 120%, 500);
  letter-spacing: -0.033em;
  text-transform: uppercase;

  @include breakpointMF(tablet) {
    @include font(7rem, 120%, 500);
    letter-spacing: -0.057em;
  }
}

.text-h1 {
  @include font(3rem, 100%, 500);
  letter-spacing: -0.03em;

  @include breakpointMF(laptop) {
    @include font(7.2rem, 106.6%, 500);
  }
}

.f-button.is-prev,
.f-button.is-next {
  --f-button-bg: #fff;
  --f-button-hover-bg: #E9E9E9;
  --f-button-active-bg: #E9E9E9;
  --f-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --f-button-svg-width: 20px;
  --f-button-svg-height: 20px;
  --f-button-svg-stroke-width: 2.5;
  --f-button-prev-pos: 4rem;
  --f-button-next-pos: 4rem;

  color: #32325d;
}

.f-button.close {
  --f-button-svg-width: 2.4rem;
  --f-button-svg-height: 2.4rem;
  --f-button-svg-stroke-width: 1;
  --f-button-hover-color: #fff;
  --f-button-hover-bg: #404040;

  display: grid;
  place-items: center;

  width: 6.4rem;
  height: 6.4rem;
  flex-shrink: 0;

  margin-top: 4rem;
  margin-right: 4rem;

  background-color: var(--fill-invert, #202020);
  border-radius: 100%;

  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  .icon {
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
  }
}

.fancybox__container {
  .fancybox__footer {
    @include visuallyHidden();
  }
}
