.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  width: 100%;
  height: 100%;
  background-color: rgba($color: #1e1e1e, $alpha: 60%);
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;

    display: none;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    max-width: 50rem;
    height: auto;
    max-height: 100%;
    overflow: hidden;

    color: var(--Grafiit-main, #303030);

    background-color: var(--color-bg-2, #F5F5F7);
    border-radius: 3.5rem;
    box-shadow: 0 0 1rem rgba($color: #000, $alpha: 10%);
    transform: translate(-50%, -50%);

    @include breakpoint(tablet) {
      max-width: calc(100% - (2 * var(--content-padding)));
      border-radius: 1.8rem;
    }

    &:has(.modal__content--review) {
      background-color: var(--Pale-yellow, #F5E8CE);
    }

    &.modal-open {
      display: flex;
    }
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5rem;
    flex-grow: 1;

    width: 100%;
    padding: 5rem 6rem;
    height: auto;
    max-height: 100%;
    overflow: auto;

    @include customScrollbar();

    @include breakpoint(tablet) {
      padding: 3rem 2rem;
    }

    &.modal__content--low {
      padding: 4.7rem 5rem 3rem;

      @include breakpoint(tablet) {
        padding: 3rem 2rem;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    @include breakpoint(tablet) {
      width: 5rem;
      height: 5rem;
    }

    &:hover {
      /** span {
        background-color: var(--color-light-green);
      }
      **/
    }

    &:active {
      /**  span {
        background-color: var(--color-dark-green);
      } **/
    }

    .icon {
      width: 2rem;
      height: 2rem;

      stroke: #303030;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 1.3rem;
      height: 0.1rem;
      background-color: black;
      transform: translate(-50%, -50%);
      transition: background-color var(--transition);

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    &>* {
      text-align: center;
    }

    &.modal__review-wrapper {
      gap: 2.5rem;
    }
  }

  &__title {
    @include font(4rem, 100%, 500);
    letter-spacing: -0.02em;

    @include breakpoint(tablet) {
      @include font(2.4rem, 100%, 500);
    }
  }

  &__subtitle {
    @include font(1.6rem, 125%, 400);
    letter-spacing: -0.02em;
    text-wrap: balance;

    @include breakpoint(tablet) {
      @include font(1.6rem, 125%, 400);
    }
  }

  &__form,
  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
  }

  &__link-wrappper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    margin-top: 1rem;

    &:has(.modal__button--close) {
      margin-top: 2rem;
    }
  }

  &__link {
    color: #DE7D57;
    @include font(1.6rem, 125%, 400);
    letter-spacing: -0.02em;
    text-wrap: balance;

    @include breakpoint(tablet) {
      @include font(1.6rem, 125%, 400);
    }
  }

  &__button {
    &.modal__button--close {
      min-width: 38rem;
      margin-top: 2.5rem;

      @include breakpoint(tablet) {
        min-width: 28rem;
      }
    }
  }
}
