section.section.short-about
  .short-about__site-container
    .short-about__body
      .short-about__left
        .short-about__tooltip Отдел контроля качества

        h2.short-about__title.short-about__title--no-quotes Контроль качества

        p.short-about__text
          | (проверки пищевой безопасности)

        ul.short-about__list
          li регулярно будем проверять ваши торговый зал и&nbsp;производство по чек-листам;
          li будем давать обратную связь по улучшению работы;
          li поможем выявить зоны роста в вашей пекарне.

      .short-about__pic
        +picture('quality.png')

      .short-about__right
        .short-about__author.short-about__author--hidden
          .short-about__author-info
            p.short-about__author-name Андрей Герасимов
            p.short-about__author-role
              | создатель международной франшизы пекарен «Дом Хлеба»
          img.short-about__author-image(src="./assets/images/author.png" alt="")

        a.short-about__link.link-icon.link-icon--white
          | Стать партнером
          +icon-multi('link')(class="icon-no-rotate")
