main.page-main.main
  include hero.pug
  include mission.pug
  include control-about.pug
  include store-widget.pug
  include webinar-form.pug
  include main-about.pug
  include simple-section.pug

  include ../franchise/franchise-form.pug
  include ../franchise/socials-section.pug
