.about-link {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;
  padding: 5.9rem 5.7rem;
  overflow: hidden;

  border-radius: 3rem;

  @include breakpoint(tablet) {
    padding: 2.6rem 3.2rem;

    border-radius: 2rem;
  }

  &__image {
    position: absolute;
    inset: -1px;
    z-index: 100;

    img {
      display: block;

      width: 100%;
      min-height: 100%;

      object-fit: cover;
      object-position: center;
    }

    &.about-link__image--sale {
      width: 50%;

      img {
        height: 100%;
        min-height: unset;

        object-fit: contain;
      }

      @include breakpoint(tablet) {
        position: static;
        width: 100%;
      }
    }
  }

  &__info {
    position: relative;
    z-index: 200;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint(tablet) {
      flex-grow: 1;
      align-items: center;
      gap: 1.7rem;
    }
  }

  &__title {
    @extend .text-48;

    @include breakpoint(tablet) {
      max-width: 10ch;
      margin-right: auto;

      text-align: left;
    }
  }

  &__text {
    @include font(2.4rem, 125%, 500);
    letter-spacing: -0.02em;

    @include breakpoint(tablet) {
      text-align: left;
      margin-right: auto;
      @include font(1.4rem, 142.8%, 500);
    }
  }

  &__button {
    &.link-icon {
      width: 100%;
    }
  }

  &.about-link--grey {
    display: flex;
    align-items: flex-end;

    padding: 4.3rem 5.7rem;

    color: var(--White, #fff);

    @include breakpoint(tablet) {
      align-items: flex-end;
      justify-content: stretch;
      padding: 2.6rem 3.2rem;
    }

    .link-icon {
      &.link-icon--outlined {
        border: 1px solid var(--White, #fff);

        color: var(--White, #fff);

        .icon-link {
          stroke: var(--White, #fff);
        }
      }
    }
  }

  &.about-link--beige {
    background: #F8E8CE;

    .about-link__info {
      flex: 0 1 39rem;

      @include breakpoint(tablet) {
        flex: 1 1 auto;
        justify-content: flex-end;
      }
    }

    .about-link__image {
      inset: unset;
      top: 1.2rem;
      bottom: 1.2rem;
      right: 0;

      @include breakpoint(tablet) {
        top: 2rem;
        right: 3rem;
        bottom: unset;
        left: 3rem;
      }
    }

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: stretch;
      gap: 1.8rem;
    }
  }
}
