.franchise-standart {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: 80rem;
  min-height: 65rem;
  height: 100%;
  padding: 7.5rem;

  color: #FFF;

  @extend ._beige-border;

  @include breakpoint(tablet) {
    max-width: 80%;
    min-height: unset;
    aspect-ratio: 1.225 / 1;
    padding: 2.3rem 2.7rem;
  }

  &.franchise-standart--red {
    background-color: var(--Red, #891C22);
  }

  &.franchise-standart--yellow {
    background-color: var(--Yellow, #ECCD75);
  }

  &.franchise-standart--orange {
    background-color: var(--Orange-2, #E18A68);
  }

  &__number {
    display: block;
    margin-bottom: 3rem;

    text-transform: uppercase;
    letter-spacing: -0.03em;
    @include font(2rem, 100%, 500);

    @include breakpoint(tablet) {
      margin-bottom: 1rem;

      @include font(1rem, 62%, 500);
    }
  }

  &__title {
    @extend .text-64;
    width: min-content;
  }

  &__text {
    max-width: 58rem;

    letter-spacing: -0.03em;
    line-height: 125%;

    @include font(3.2rem, 125%, 500);

    @include breakpoint(tablet) {
      max-width: 27rem;

      @include font(1.2rem, 125%, 500);
    }
  }

  &__desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
