.hero-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding-block: 7rem;

    color: var(--White, #fff);

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;

        overflow: hidden;
        width: calc(100% - (2 * 1.5rem));
        height: 100%;
        transform: translate(-50%, -50%);

        border-radius: 5rem;

        &::after {
            position: absolute;
            inset: 0;
            z-index: 101;

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.44%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            content: "";
        }

        video,
        img {
            display: block;
            width: 100%;
            min-height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    &__body {
        @extend [class*="__site-container"];

        position: relative;
        z-index: 200;
    }

    &__article {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        &.hero-slide__article--mw {
            max-width: 62rem;
        }
    }

    &__title {
        @extend .text-75;
    }

    &__text {
        @include font(3rem, 133.25%, 400);
        letter-spacing: -0.03em;
    }

    &__link {
        &.link-icon--white {
            .icon-link {
                transform: rotate(0);
            }
        }
    }

    &.hero-slide--grey {
        color: var(--Grafiit-main, #303030);

        .hero-slide__image {
            background-color: var(--color-bg-2, #F5F5F7);

            &::after {
                content: none;
            }
        }

        .hero-slide__article {
            max-width: 80rem;
        }
    }
}
