section.section.advantages
  .advantages__site-container
    .advantages__list
      .advantages__item.stats-section__item.stats-section__item--outlines
        p.stats-section__numbers 50 %
        p.stats-section__text
          | учеников уже открыли бизнес
          | и&nbsp;зарабатывают от 300 тыс. в мес.
      .advantages__item.stats-section__item.stats-section__item--outlines
        p.stats-section__numbers 24/7
        p.stats-section__text
          | обучение в любое удобное время
          | из любой точки мира
      .advantages__item.stats-section__item.stats-section__item--outlines
        p.stats-section__numbers Топ 10
        p.stats-section__text
          | Какой-то небольшой поясняющий
          | текст о заголовке
      .advantages__item.stats-section__item.stats-section__item--orange
        p.stats-section__numbers 86%
        p.stats-section__text
          | довольных учеников отмечают отличные результат
          | сразу после прохождения обучающего курса

    .advantages__scroll-tooltip.show-on-mobile
      .scroll-tooltip
        i
        span
          | Листайте  влево-вправо


    a.advantages__link.link-icon(href="#")
      | Почему выбирают нас
      +icon-multi('link')
