section.section.edu-section
  .edu-section__site-container
    .edu-section__body
      .edu-section__row
        h2.edu-section__title
          | Выберите формат обучения

        .edu-section__dropdown-wrapper
          .edu-section__dropdown.acco-section__item.acco-section__item--bigger.acco-section__item--black
            button.acco-section__button.acco-section__button--active.js-faq-btn(type="button")
              span.acco-section__question
                | Курс для Франчайзи
              i.acco-section__arrow
            .acco-section__dropdown
          .edu-section__formats
            .edu-section__format.acco-format.acco-format--grey
              .acco-format__body
                .acco-format__title
                  | Что входит в обучении на таком формате:
                ul.acco-format__list.short-about__list
                  li какой-то поясняющий текст
                  li какой-то поясняющий текст
                  li какой-то поясняющий текст

              a.acco-format__link.link-icon.link-icon--white
                | Учусь сам
                +icon-multi('link')(class="icon-no-rotate")
            .edu-section__format.acco-format.acco-format--orange
              .acco-format__body
                .acco-format__title
                  | Что входит в обучении на таком формате:
                ul.acco-format__list.short-about__list
                  li какой-то поясняющий текст
                  li какой-то поясняющий текст
                  li какой-то поясняющий текст

              a.acco-format__link.link-icon.link-icon--white
                | Учимся с сопровождением
                +icon-multi('link')(class="icon-no-rotate")
