-
  var accoThree = [
    {
      id: 'acco-id-8',
      question: 'Курс поиск и привлечение инвестиций',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    }
  ];

section.section.edu-section
  .edu-section__site-container
    .edu-section__body
      .edu-section__row
        h2.edu-section__title
          | Бонусный курс

        ul.edu-section__list
          for item in accoThree
            li.edu-section__dropdown.acco-section__item.acco-section__item--bigger.acco-section__item--orange(id=item.id)
              button.acco-section__button.js-faq-btn(type="button")
                span.acco-section__question=item.question
                i.acco-section__arrow
              .acco-section__dropdown
                p.acco-section__text=item.text
