section.section.edu-projects
  .edu-projects__site-container
    .section__heading.section__heading--mbM
      h2.section__title
        | Дипломные проекты наших учеников

    .edu-projects__body
      .edu-projects__item.edu-projects__item--no-image
        .edu-projects__image
          +picture('edu.jpg')

        .edu-projects__text
          | Как&nbsp;увеличить показатели&nbsp;пекарни за&nbsp;счет&nbsp;обучения сотрудников

        a.edu-projects__link.link-icon.link-icon--grey(href="#")
          | Изучить проект
          +icon-multi('link')(class="icon-no-rotate")

      .edu-projects__item
        .edu-projects__image
          +picture('edu.jpg')

        .edu-projects__text
          | В&nbsp;какую&nbsp;сторону месить&nbsp;тесто

        a.edu-projects__link.link-icon.link-icon--grey(href="#")
          | Изучить проект
          +icon-multi('link')(class="icon-no-rotate")
