main.page-main.main
  include hero.pug
  include advantages.pug
  include vacancies.pug
  include courses.pug
  include professionals.pug

  include ../production/webinar-form.pug

  include ../franchise/socials-section.pug
