main.page-main.main
  include hero.pug
  include advantages.pug
  include ../production/webinar-form.pug

  include vacancies.pug
  include courses.pug
  include professionals.pug
  include certificates.pug
  include reviews-section.pug
  include short-about.pug

  include edu-programs.pug
  include edu-projects.pug
  include edu-bonus.pug
  include edu-formats.pug

  include simple-section.pug
  include contacts-form.pug
  include cities-section.pug

  include ../franchise/socials-section.pug
