section.section.support-section
  .support-section__site-container
    .support-section__heading.section__heading
      h2.events-section__title.section__title
        | Будете учиться у профессионалов
