section.section.simple-section
  .simple-section__site-container
    .page-header__promo
      p.page-header__promo-text.page-header__promo-title
        | При покупке курса сегодня бонусный курс в подарок
