-
  var faqS = [
    {
      id: 'faq-id-1',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
    {
      id: 'faq-id-2',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
    {
      id: 'faq-id-3',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
    {
      id: 'faq-id-4',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
    {
      id: 'faq-id-5',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
    {
      id: 'faq-id-6',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
    {
      id: 'faq-id-7',
      question: 'Вопрос об открытии пекарни',
      text: `Ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки ответ на вопрос в одну или даже две строки
        ответ на вопрос в одну или даже две строки`
    },
  ];

section.section.acco-section
  .acco-section__site-container
    .acco-section__body
      .acco-section__left
        h2.acco-section__title.section__title
          | На частые вопросы ответит собственник сети пекарен

        .acco-section__author
          .acco-section__author-image
            +picture('faq-author.jpg', 'author')

          .acco-section__author-info
            p.acco-section__author-name Андрей Герасимов
            p.acco-section__author-role
              | создатель международной франшизы пекарен «Дом Хлеба»

      .acco-section__right
        ul.acco-section__list
          for faq in faqS
            li.acco-section__item(id=faq.id)
              button.acco-section__button.js-faq-btn(type="button")
                span.acco-section__question=faq.question
                i.acco-section__arrow
              .acco-section__dropdown
                p.acco-section__text=faq.text
