section.section.franchise-schedule
  .franchise-schedule__site-container
    .franchise-schedule__body
      .franchise-schedule__heading
        h2.franchise-schedule__title.section__title
          | Узнайте реальный срок
          br
          | открытия одной пекарни

        a.franchise-schedule__link.link-icon.link-icon--download.link-icon--white(href="", download)
          | Скачать график
          +icon-multi('link')

      .franchise-schedule__image
        +picture('franchise-schedule/schedule.png', '')
