section.section.link-section
    .link-section__site-container
        .link-section__body
            .link-section__info
                p.link-section__text
                    | Узнайте все о процессах открытия пекарни по нашему рецепту
                a.link-section__link.elements-section__download(href="#")
                    span
                        | Следить&nbsp;за&nbsp;проектов
                        br
                        | в&nbsp;нашем&nbsp;Telegram-канале
                    +icon-multi('tg-blue')

            .link-section__image
                +picture('phone', '')
