main.page-main.main
  include intro.pug
  include franchise-reviews.pug
  include video-section.pug
  include franchise-about.pug
  include franchise-formats.pug
  include franchise-schedule.pug

  include online-tour.pug
  include stats-section.pug
  include shorts-carousel.pug

  include link-section.pug
  include elements-section.pug
  include support-section.pug
  include acco-section.pug
  include events-section.pug
  include blog-section.pug

  include franchise-form.pug
  include socials-section.pug

  include ../../parts/components/partner-button.pug
