main.page-main.main
  include intro.pug
  include franchise-reviews.pug
  include franchise-about.pug
  include franchise-carousel.pug
  include franchise-formats.pug
  include franchise-schedule.pug

  include link-section.pug
  include stats-section.pug
  include online-tour.pug
  include elements-section.pug
  include support-section.pug
  include acco-section.pug
  include events-section.pug
  include blog-section.pug
  include franchise-form.pug
  include socials-section.pug
