section.section.socials-section
  .socials-section__site-container
    h2.socials-section__title.section__title.show-on-mobile
      | Максимально открыты
      | и&nbsp;подтверждаем
      | свою&nbsp;экспертность
      | в&nbsp;соц.сетях

    .socials-section__body
      .socials-section__video
        button(type="button")
          +icon-multi('play-big')

        +picture('vid', 'alt')

      .socials-section__info
        h3.socials-section__title.section__title.hide-on-mobile
          | Максимально открыты
          | и&nbsp;подтверждаем
          | свою&nbsp;экспертность
          | в&nbsp;соц.сетях

        ul.socials-section__list
          li.socials-section__list-item
            a.socials-section__link.link-icon.link-icon--dark-blue(href="#")
              | Мы в ВК
              +icon-multi('vk-big')
          li.socials-section__list-item
            a.socials-section__link.link-icon.link-icon--dark-red(href="#")
              | Мы на You tube
              +icon-multi('yt')
          li.socials-section__list-item
            a.socials-section__link.link-icon.link-icon--light-blue(href="#")
              | Наш Telegram-канал
              +icon-multi('tg')
