.modal
  .modal__container(data-target="modal-success")
    .modal__content
      button.button-reset.modal__close-btn.modal-close(type="button")
        +icon-multi('close')

      .modal__heading
        h6.modal__title
          | Спасибо!

        .modal__link-wrappper
          p Ваша заявка принята!
