.modal
  .modal__container(data-target="modal-success")
    .modal__content.modal__content--low
      button.button-reset.modal__close-btn.modal-close(type="button")
        +icon-multi('close')

      .modal__heading
        h6.modal__title
          | Спасибо!

        .modal__link-wrappper
          p В ближайшее время наш менеджер свяжется с вами!

          button.modal__button.modal__button--close.modal-close.franchise-form__button.link-icon(type="button")
            | Закрыть
            +icon-multi('link')
