include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/layout/head.pug
  body(class=bodyClass)
    .page-wrapper
      block header
        include ../parts/layout/header.pug

      block content

      block footer
        include ../parts/layout/footer.pug

      block modals
        include ../parts/modals/shedule.pug
        include ../parts/modals/demo.pug
        include ../parts/modals/online.pug
        include ../parts/modals/success.pug

  block scripts
    script(src="assets/js/main.js?v=" + siteVersion)
    script(src="assets/js/backend.js?v=" + siteVersion)
    if haveMapSection
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(
        src="https://api-maps.yandex.ru/2.1/?apikey=1d46cd9a-2c9e-4500-b55b-ee2306bc1a9f&lang=ru_RU"
        type="text/javascript"
      )
