include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/layout/head.pug
  body(class=bodyClass)
    .page-wrapper
      block header
        include ../parts/layout/header.pug

      block content

      block footer
        include ../parts/layout/footer.pug

    .modal
      include ../parts/modals/modal.pug

  block scripts
    script(src="assets/js/main.js?v=" + siteVersion)
    script(src="assets/js/backend.js?v=" + siteVersion)
