.elements-item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    overflow: hidden;

    border-radius: 3.5rem;

    color: #FFF;

    &__image {
        position: absolute;
        inset: -1px;
        z-index: 100;

        img {
          display: block;
          width: 100%;

          object-fit: cover;
          object-position: center;
        }
    }

    &__body {
        position: relative;
        z-index: 200;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        flex: 0 1 26rem;
        padding: 7rem 6.7rem 4rem;
    }

    &__title {
        letter-spacing: -0.02em;
        @include font(3.2rem, 109%, 500);
    }

    &__text {
        letter-spacing: -0.02em;
        @include font(2.4rem, 125%, 500);
    }
}
