.support-promo {
    position: relative;

    overflow: hidden;
    border-radius: 3.5rem;

    color: #FFF;

    &__body {
        position: relative;
        z-index: 200;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        padding-block: 7.7rem;
        padding-inline: 9.3rem 9.9rem;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    &__title {
        width: min-content;
        @extend .text-h1;
    }

    &__tooltip {
        display: flex;
        justify-content: center;
        align-items: center;

        width: max-content;
        height: 5rem;
        transform: rotate(-3deg);
        padding: 1.2rem 2.4rem;

        color: #FFF;
        letter-spacing: -0.03em;
        white-space: nowrap;

        border: 1px solid #FFF;
        border-radius: 50rem;

        @include font(1.8rem, 111.1%, 500);
    }

    &__image {
        position: absolute;
        inset: -1px;
        z-index: 100;

        img {
            display: block;
            width: 100%;
            max-width: unset;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__list-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__list-text {
        width: min-content;
        letter-spacing: -0.01em;

        @include font(2rem, 120%, 500);
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__list-image {
        display: grid;
        place-items: center;
        place-content: center;

        width: 7.5rem;
        height: 7.5rem;
        overflow: hidden;

        background-color: var(--Yellow, #ECCD75);
        border-radius: 100%;

        color: #FFF;
        letter-spacing: -0.01em;

        @include font(2rem, 150%, 700);
    }

    &__list-image {
        &:not(:first-child) {
            margin-left: -1rem;
        }
    }
}
