/* stylelint-disable no-invalid-position-at-import-rule */

@import "./helpers/**/*";
@import "./vendor/**/*";
@import "./settings/**/*";
@import "./UI/**/*";
@import "./pages/**/*";

:root {
    /* layouts: */
    --max-container-width: 192rem;
    --content-padding: 5.5rem;
    --header-height: 17.2rem;

    /* typography: */
    --main-ff: "CoFo Sans", sans-serif;

    /* colors: */
    --color-dark: #333;
    --color-bg: #EFF2F6;

    --White: #fff;
    --Text: #292B32;
    --Orange: #DE7D57;
    --Yellow: #ECCD75;

    --Grafiit-main: #303030;
    --Pale-yellow: #F5E8CE;

    --font-body: 400 1.6rem/1.2 var(--main-ff);

    /* etc: */
    --transition: 200ms ease-in;
}
