section.section.events-section
  .events-section__site-container
    .events-section__heading.section__heading
      h2.events-section__title.section__title Сообщество предпринимателей
      p.events-section__subtitle.section__subtitle
        | Ближайшие мероприятия

    .events-section__body
      .events-section__swiper.swiper
        ul.events-section__swiper-wrapper.swiper-wrapper
          li.events-section__swiper-slide.swiper-slide.event-slide
            .event-slide__image
              +picture('franchise-carousel/slide.jpg', '')

            .event-slide__body
              .event-slide__info
                .event-slide__date 13.06.2024 в 10:00
                h3.event-slide__text Бизнес-завтрак с Андреем Герасимовым в Самаре

              a.event-slide__link.link-icon.link-icon--white(href="#")
                | Зарегистрироваться на событие
                +icon-multi('event')

        .events-section__control-panel
          .events-section__pagination
            button.events-section__button(type="button") Вебинар по масштабированию
            button.events-section__button.events-section__button--active(type="button") Бизнес-завтрак
            button.events-section__button(type="button") Вебинар по масштабированию
            button.events-section__button(type="button") Бизнес-завтрак
