section.section.locations
  .locations__site-container
    h2.locations__title.js-animation-trigger._from-bottom
      | Открыто более 450 точек
      | по всей России и СНГ

    .locations__map
      img.locations__map-image(src="./assets/images/locations.svg" alt="")

      .locations__pins.js-animation-trigger
        .locations__pin.locations__pin--big(style="top:27.8%; left:59.6%")

        .locations__pin.locations__pin--big(style="top:36.4%; left:62.5%")

        .locations__pin.locations__pin--big(style="top:29.5%; left:64.4%")

        .locations__pin.locations__pin--small(style="top:26%; left:67.6%")

        .locations__pin.locations__pin--big(style="top:31.3%; left:67.2%")

        .locations__pin.locations__pin--small(style="top:41.3%; left:69.5%")

        .locations__pin.locations__pin--big(style="top:39.7%; left:73.9%")

        .locations__pin.locations__pin--small(style="top:34.5%; left:75.2%")

        .locations__pin.locations__pin--small(style="top:27.8%; left:77.1%")

        .locations__pin.locations__pin--small(style="top:44.8%; left:77.1%")

        .locations__pin.locations__pin--big(style="top:34.7%; left:77.6%")
