main.page-main.main
  include hero.pug
  include chronology.pug
  include awards.pug
  include partnership-carousel.pug
  include short-about.pug
  include locations.pug
  include mission.pug
  include events-section.pug

  include ../franchise/blog-section.pug
  include ../franchise/franchise-form.pug
  include ../franchise/socials-section.pug
