section.section.mission
  .mission__site-container
    h2.mission__title.locations__title.js-animation-trigger._from-bottom
      | Наша миссия

  .mission__slider-wrapper
    .mission__swiper.swiper.js-big-swiper(data-swiper="autoplay")
      ul.mission__swiper-wrapper.swiper-wrapper

        li.mission__swiper-slide.swiper-slide.mission-slide
          .mission-slide__image
            +picture('mission/img-1.jpg')
          .mission-slide__body
            .mission-slide__top
              span.mission-slide__number 03
              h3.mission-slide__title
                | Ведем к прибыли
            p.mission-slide__text
              | Работа под известным брендом позволит быстрее привлечь клиентов, поскольку репутация нашей компании уже известна на рынке.

        li.mission__swiper-slide.swiper-slide.mission-slide.mission-slide--with-image
          .mission-slide__image
            +picture('mission/img-1.jpg')
          .mission-slide__body
            .mission-slide__top
              span.mission-slide__number 01
              h3.mission-slide__title
                | Традиции
                | качества
            p.mission-slide__text
              | миссия компании, мы хотим обеспечить как можно больше покупателей качественным продуктом, состоящим из традиционно вкусной выпечки и хлеба, а также высокого уровня сервиса в наших пекарнях

        li.mission__swiper-slide.swiper-slide.mission-slide.mission-slide--orange
          .mission-slide__image
            +picture('mission/img-1.jpg')
          .mission-slide__body
            .mission-slide__top
              span.mission-slide__number 02
              h3.mission-slide__title
                | Сопровождаем открытие
            p.mission-slide__text
              | Открытие пекарни — важное событие, требующее тщательной подготовки и правильного сопровождения.
