section.section.short-about
  .short-about__site-container
    .short-about__body
      .short-about__left
        .short-about__tooltip Коротко о главном
        .short-about__icon.show-on-mobile

        h2.short-about__title Все&nbsp;началось с&nbsp;малого...
        p.short-about__text
          | какой-то хороший текст в одну или
          | может даже в две строки
        ul.short-about__list
          li оборудовали более 600 пекарен за прошлый год;
          li подключили к сети 30 новых партнеров;
          li сменили фирменный стиль.

      .short-about__right
        .short-about__author
          .short-about__author-info
            p.short-about__author-name Андрей Герасимов
            p.short-about__author-role
              | создатель международной франшизы пекарен «Дом Хлеба»
          img.short-about__author-image(src="./assets/images/author.png" alt="")

        a.short-about__link.link-icon.link-icon--white
          | Стать партнером
          +icon-multi('link')(class="icon-no-rotate")
